/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/* Fonts */
@font-face {
    font-family: Gotham;
    src: url(./vendors/fonts/Gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: GothamBold;
    src: url(./vendors/fonts/Gotham/Gotham-Bold.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(./vendors/fonts/Gotham/Gotham-Book.otf);
}

@font-face {
    font-family: GothamCond;
    src: url(./vendors/fonts/Gotham/GothamCond-Medium.otf);
}

@font-face {
    font-family: GothamCondBold;
    src: url(./vendors/fonts/Gotham/GothamCond-Bold.otf);
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: Gotham;
    background-color: #f0f0f0;
    font-size: 62.5%;
    line-height: 1.6;
    background-image: url(./assets/Website_BG_Image.png);
    position: relative;
}

a {
    display: inline-block;
    text-decoration: none;
}

button, a {
    cursor: pointer;
}

.padding-left {
    padding-left: 100px;
}

.divider {
    margin: 200px 0;
}

.container {
    width: 100%;
    max-width: 1920px;
}

.header {
    position: absolute;
    top: 0;
    padding: 20px 20px 5px 60px;
    background-color: #30414b;
    /* clip-path: polygon(100% 0%, 100% 50%, 25% 50%, 23% 100%, 0 100%, 0 0); */
    clip-path: polygon(100% 0%, 100% 50%, 480px 50%, 430px 100%, 0 100%, 0 0);
    /* box-shadow: 2px 5px 20px rgba(216, 216, 216, 0.81); */
    width: 100%;
    z-index: 99;
}

@media screen and (max-width: 1240px) {
    .header {
        position: relative;
        padding: 12px 20px 5px 20px;
        clip-path: none;
    }
}

.header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

@media screen and (max-width: 1240px) {
    .header .header-content {
        align-items: center;
    }
}

/* LOGO */
#logo svg{
    animation: fill-white 1.5s ease forwards 3.3s !important;
}

@media screen and (max-width: 1240px) {
    #logo{
        vertical-align: text-top;
    }
}

@media screen and (max-width: 1240px) {
    #logo svg{
        width: 280px;
        vertical-align: text-top;
    }
}

@media screen and (max-width: 580px) {
    #logo svg{
        width: 250px;
    }
}

#logo svg path:nth-child(1){
    animation: fill-orange 1.5s ease forwards 3.3s !important;
}
#logo path:nth-child(1) {
    stroke-dasharray: 333.63;
    stroke-dashoffset: 333.63;
    animation: logo-animate 2s ease forwards 1s;
}
#logo path:nth-child(2) {
    stroke-dasharray: 291.96;
    stroke-dashoffset: 291.96;
    animation: logo-animate 2.2s ease forwards;
}
#logo path:nth-child(3) {
    stroke-dasharray: 315.83;
    stroke-dashoffset: 315.83;
    animation: logo-animate 2.2s ease forwards .3s;
}
#logo path:nth-child(4) {
    stroke-dasharray: 255.26;
    stroke-dashoffset: 255.26;
    animation: logo-animate 2.2s ease forwards .4s;
}
#logo path:nth-child(5) {
    stroke-dasharray: 368.33;
    stroke-dashoffset: 368.33;
    animation: logo-animate 2.2s ease forwards .5s;
}
#logo path:nth-child(6) {
    stroke-dasharray: 301.93;
    stroke-dashoffset: 301.93;
    animation: logo-animate 2.2s ease forwards .6s;
}
#logo path:nth-child(7) {
    stroke-dasharray: 301.93;
    stroke-dashoffset: 301.93;
    animation: logo-animate 2.2s ease forwards .7s;
}
#logo path:nth-child(8), #logo path:nth-child(9), #logo path:nth-child(10), #logo path:nth-child(11), #logo path:nth-child(12), #logo path:nth-child(13), #logo path:nth-child(14),#logo path:nth-child(15),#logo path:nth-child(16), #logo path:nth-child(17), #logo path:nth-child(18), #logo path:nth-child(19), #logo path:nth-child(20), #logo path:nth-child(21), #logo path:nth-child(22), #logo path:nth-child(23), #logo path:nth-child(24), #logo path:nth-child(25), #logo path:nth-child(26), #logo path:nth-child(27), #logo path:nth-child(28), #logo path:nth-child(29), #logo path:nth-child(30), #logo path:nth-child(31), #logo path:nth-child(32), #logo path:nth-child(33), #logo path:nth-child(34), #logo path:nth-child(35), #logo path:nth-child(36), #logo path:nth-child(37), #logo path:nth-child(38), #logo path:nth-child(39), #logo path:nth-child(40), #logo path:nth-child(41), #logo path:nth-child(42), #logo path:nth-child(43), #logo path:nth-child(44), #logo path:nth-child(45){
    opacity: 0;
    animation: show-animate 2.5s ease forwards 3s;
}


.header-nav i{
    font-size: 3rem;
    color: #fff;
    vertical-align: text-top;
    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    .header-nav i{
        font-size: 2.5rem;
        vertical-align: text-bottom;
    }
}
@media screen and (max-width: 580px) {
    .header-nav i{
        font-size: 2rem;
    }
}


.section-container {
    background: radial-gradient(circle at -5% 50%, #5b01ff 25%, #9801ff 25% 37%, #c700ff 35% 70%, #5b01ff 80%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Homepage Hero banner styles start here */

/* Left side styles start here */
.hompage-hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(1080px, auto);
    place-content: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1240px) {
    .hompage-hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 640px auto;
        background: radial-gradient(circle at 50% 130%, #5b01ff 0%, #9801ff 25% 37%, #c700ff 35% 70%, #5b01ff 80%);
        background-position: bottom;
        background-size: 150% 150%;
    }
}

.hompage-hero-left {
    grid-column: 3/6;
    align-content: center;
}

@media screen and (max-width: 2100px) {
    .hompage-hero-left {
        grid-column: 2/6;
    }
}

@media screen and (max-width: 1800px) {
    .hompage-hero-left {
        padding-left: 30px;
        grid-column: 1/6;
    }
}

@media screen and (max-width: 1240px) {
    .hompage-hero-left {
        grid-row: 2;
    }
}

@media screen and (max-width: 750px) {
    .hompage-hero-left {
        padding: 0 10px 0 10px;
    }
}

.header-text {
    font-family: GothamBold;
    font-size: 5rem;
    color: #fff;
}

@media screen and (max-width: 1500px) {
    .header-text {
        font-family: GothamBold;
        font-size: 4.5rem;
        color: #fff;
    }
}
@media screen and (max-width: 750px) {
    .header-text {
        font-size: 3rem;
    }
}

@media screen and (max-width: 430px) {
    .header-text {
        font-size: 2.5rem;
    }
}

.connect-btn {
    position: relative;
    width: fit-content;
    z-index: 9;
}

@media screen and (max-width: 1500px) {
    .connect-btn svg {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .connect-btn svg {
        max-width: 600px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .connect-btn svg {
        max-height: 100px;
    }
}

.display-svg {
    display: block;
    text-align: center;
}
/* Hide display svg on bigger screens */
@media screen and (min-width: 1241px) {
    .display-svg {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .display-svg svg{
        max-width: 615px;
        /* max-height: 150px; */
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .display-svg svg{
        max-height: 150px;
    }
}

/* Left side styles end here */

/* Right side starts here */

/* Right side (Image Slider) */
.image-slider {
    grid-column: span 7;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    position: relative;

}
@media screen and (max-width: 1240px) {
    .slider {
        height: 95%;
    }
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    background: linear-gradient(180deg, #DA69FF 30%, #5B01FF 80%);
    clip-path: ellipse(95% 120% at 100% 50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 1240px) {
    .slider::after {
        top: 12px;
        left: 0;
        background: linear-gradient(to left, #DA69FF 30%, #5B01FF 80%);
        clip-path: ellipse(100% 100% at 50% 0);
    }
}

.slide {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.8s;
    position: absolute;
    z-index: 2;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-content svg{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
}

@media screen and (max-width: 1500px) {
    .slide-content svg{
        width: 500px;
    }
}

/* remove the svg sitting on top of the slider on a 1240px screen size */
@media screen and (max-width: 1240px) {
    .slide-content svg{
        display: none;
    }
}

.slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 15px solid red; */
    /* border-radius: 25% 0px 0px 25% / 120% 0px 0px 120%; */
    clip-path: ellipse(95% 120% at 100% 50%);
    /* border-right: 0; */
    filter: brightness(60%);

}

@media screen and (max-width: 1240px) {
    .slide img {
        clip-path: ellipse(100% 100% at 50% 0);
    }
}

/* Hero banner styles end here */



/* ============***Beginning of nav styles***============ */
.topnav {
    font-size: 1rem;
    transition: 0.3s;
}

/* Media query topnav */
@media screen and (max-width: 1500px) {
    .topnav {
        font-size: .9rem;
    }
}

@media screen and (max-width: 1148px) {
    .topnav {
        font-size: 1.02rem;
    }
}

.topnav__link {
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

/* When you mouse over the navigation links, change their color */
.topnav__link:hover,
.topnav__link:focus {
    color: #FBAF1B;
}

/* The Overlay (background) */
/* Media query overlay */
@media screen and (max-width: 1240px) {
    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99;
        right: 0;
        top: 0;
        background-color: #30414b;
        overflow-x: hidden;
        transition: 0.5s;
    }

    /* Position the content inside the overlay */
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    /* The navigation links inside the overlay */
    .overlay .topnav__link {
        padding: 8px;
        font-size: 1.8rem;
        color: #fff;
        background-color: transparent;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .overlay .topnav__link:hover,
    .overlay .topnav__link:focus {
        color: #FBAF1B;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 2.5rem;
        color: #fff;
        z-index: 9;
    }

    .openbtn {
        cursor: pointer;
        margin: 10px 20px -12px 0;
        z-index: 9;
    }

    .openbtn a {
        font-size: 3.1rem;
        cursor: pointer;
        margin: 10px 20px -12px 0;
    }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay .topnav__link {
        font-size: 1.2rem;
    }

    .overlay .closebtn {
        font-size: 3.1rem;
        top: 15px;
        right: 35px;
    }
}

/* Hide the closebtn & openbtn on larger screen divices */
@media screen and (min-width: 1241px) {
    .overlay .closebtn {
        display: none;
    }

    .openbtn {
        display: none;
    }
}

/* ============***End of nav styles***============ */






/* Middle section styles begin */

main.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: 100%;
}

.middle-section p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 0 60px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 570px) {
    .middle-section p {
        font-size: 1.375rem;
        padding: 0 20px 60px 20px;
    }
}

.middle-section a {
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
}

@media screen and (max-width: 1240px) {
    .middle-section a {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
}

@media screen and (max-width: 1240px) {
    .middle-section a:first-child {
        margin-bottom: 60px;
    }
}

.middle-section a button {
    font-family: GothamBold;
    font-size: 2rem;
    color: #fff;
    background-color: #C200F8;
    border: 1px solid #F6DBFF;
    border-radius: 100px;
    min-width: 556px;
    min-height: 110px;
    width: 100%;
}

@media screen and (max-width: 570px) {
    .middle-section a button {
        font-size: 1.32rem;
        min-width: fit-content;
        min-height: 110px;
        width: 100%;
    }

    .middle-section a button {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 380px) {
    .middle-section a button {
        font-size: 1.24rem;
    }
}

/* Middle section styles end here */

/* Footer styles begin here */

.fdot-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    right: 0;
}

.fdot-logo a{
    margin: 0 10px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #30414b;
    color: #fff;
    padding: 40px 0;
    font-size: 1rem;
}

.footer p {
    font-family: GothamBold;
    font-size: 1.3rem;
    padding: 5px;
}

.footer p span {
    font-family: GothamBook;
    font-size: .875rem;
}

/* Footer styles end here */


/* Animations */
@keyframes logo-animate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show-animate {
    to {
        opacity: 1;
    }
}

@keyframes fill-white {
    from {
        fill: transparent;
    }
    to {
        fill: #fff;
    }
}

@keyframes fill-orange {
    from {
        fill: transparent;
    }
    to {
        fill: #FBAF1B;
    }
}
